@import "../../style/vars.scss";

footer {
    padding: 2rem 0;
    background: $primary;
    margin-top: 4rem;

    .footer-logo__wrapper {
        width: 10%;

        .footer__logo {
            width: 100%;
            height: auto;
        }
    }

    .footer-list__container {
        width: 100%;
        margin-left: 5rem;
        display: flex;
        justify-content: space-around;

        .footer-list {
            list-style: none;

            & li {
                margin-bottom: .3rem;
            }
        }
    }
}